body {
  display: grid;
  width: auto;
  height: 100vh;
  grid-template-columns: 0.5fr 4fr 0.5fr;
  grid-template-rows: 0.7fr 4fr 0.5fr;
  grid-template-areas: "header header header" "aside1 main aside2" "footer footer footer";
  background-color: #51355a;
  column-gap: 1.5%;
  row-gap: 0.3%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  grid-area: header;
  background-color: #c3acce;
  text-align: center;
}

aside1 {
  grid-area: aside1;
  background-color: rgb(72, 72, 128);
}

main {
  grid-area: main;
  background-color: #e2eb98;
  display: flex;
  flex-wrap: wrap;
  gap: 1em 1em;
  color: deeppink;
}

aside2 {
  grid-area: aside2;
  background-color: rgb(46, 46, 139);
}

footer {
  grid-area: footer;
  background-color: darkgoldenrod;
}

#memoCard {
  background-color: blueviolet;
  background-image: url(https://images.pexels.com/photos/102127/pexels-photo-102127.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
