@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Yusei+Magic&display=swap");

body {
  display: grid;
  width: auto;
  height: 100vh;
  grid-template-columns: 0.5fr 4fr 0.5fr;
  grid-template-rows: 0.7fr 4fr 0.5fr;
  grid-template-areas: "header header header" "aside1 main aside2" "footer footer footer";
  background-color: #8c6399;
  column-gap: 1.5%;
  row-gap: 0.3%;
  font-family: "Yusei Magic", sans-serif;
}

header {
  grid-area: header;
  background-color: #c3acce;
  text-align: center;
}

aside1 {
  grid-area: aside1;
  background-color: rgb(72, 72, 128);
}

main {
  grid-area: main;
  background-color: #e2eb98;
  display: flex;
  flex-wrap: wrap;

  color: rgb(46, 4, 26);
}

aside2 {
  grid-area: aside2;
  background-color: rgb(46, 46, 139);
}

footer {
  grid-area: footer;
  background-color: darkgoldenrod;
}

#memoCard {
  background-color: blueviolet;
  background-image: url(https://images.pexels.com/photos/102127/pexels-photo-102127.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  padding-top: 1em;
}

/*  Memo transitions*/

.card-container {
  margin: auto;
  width: 15em;
  height: 10em;
  background-color: transparent;
  perspective: 1000px;
}

.card-portrait {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-portrait:hover {
  transform: rotateX(180deg);
}

.card-cover,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-cover {
  background-image: url(/assets/paintings/reverseCard.png);
  background-size: cover;
  width: 100%;
  border-radius: 7px;
  padding: 1.5em;
  text-align: center;
}

.card-back {
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  transform: rotateX(180deg);
  border-radius: 7px;
}

.paint {
  width: 100%;
  height: 100%;
}

footer {
  font-size: 15px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}
